/* Generals */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #1F2937;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: auto;
}

.hero,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.call-to-action,
button {
    background-color: #3882F6;
}

button {
    color: #F9FAF8;
    width: fit-content;
    height: fit-content;
    padding: 0.5em 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 1.6vw;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    padding: 0 6vw 6vw 6vw;
    margin: 0;
}

.hero img {
    size: 1em;
    flex: 0 1 auto;
    max-width: 50%;
    max-height: 50%;
}

/* Headings */


.hero .logo {
    flex: auto;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 24px;
}

.hero .heading {
    justify-content: space-between;
    align-items: center;
}


.hero .navigation {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.hero a {
    font-size: 18px;
    width: -moz-fit-content;
    flex: 0 1 auto;
}


/* Description */

.initial-content {
    margin: 3.5vw 0 0 0;
}

/* Title */

.title {
    display: flex;
    flex-direction: column;
    padding: 0 6vw 0 0;
}

.title h1 {
    flex: content;
    font-size: 5vw;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.title p {
    flex: content;
    font-size: 2vw;
    margin: 0;
}

/* Information */

.information {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: 0 6vw 6vw 6vw;

}

.information .flex-box {
    justify-content: center;
}

.information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 4vw;
}

/* Figure */

.information figure {
    flex: 0 1 auto;
    width: 50%;
    height: auto;
    text-align: center;
    font-size: 115%;
}

.information img {
    size: 100%;
    max-width: 100%;
    border-radius: 10px;
}

/* Quote */

.quote {
    background-color: #E5E7EB;
    padding: 8vw 24vw;
    margin: 1vw 0 6vw 0;
    justify-content: center;
}

.quote blockquote {
    text-align: left;
    align-items: center;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    margin: 1vw;
}

.quote figcaption {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}

/* Call to Action */
.call-to-action {
    margin: 0 6vw 6vw 6vw;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 4vw 9vw;
}

.call-to-action .flex-box {
    flex-direction: column;
    align-items: baseline;
    width: fit-content;
    height: fit-content;
}

.call-to-action .flex-item__text {
    flex: 2 1 auto;
}

.call-to-action h3 {
    color: #F9FAF8;
    font-weight: bold;
    margin: 1% 0;
    text-align: left;
    font-size: 24px;
}

.call-to-action p {
    color: #E5E7EB;
    margin: 0;
    text-align: left;
    font-size: 18px;
}

.call-to-action button {
    flex: 0.5 1 0;
    border: 2px solid #F9FAF8;
}