button:hover:enabled {
    transform: translate(-1%, -1%);
    transition: all 0.15s ease-in-out 0s;
}

button:disabled {
    filter: grayscale() brightness(50%);
    transition: all 0.1s ease-out 0s;
}

button:active:enabled {
    filter: brightness(85%);
}