@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

/* Generals */

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Nunito', 'Albert Sans', Raleway, 'Trebuchet MS', sans-serif;
    background-image: url("../images/signup_background.jpg");
    background-color: cornsilk;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: auto;
}

/* Main */

main {
    background-color: whitesmoke;
    flex: 2 1 0;
    min-height: 100vh;
    box-sizing: border-box;
}

main h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

main h1.info {
    margin: 8vh 4vw 3vh 4vw;
}

main h1.catchphrase {
    margin: 3vh 4vw 8vh 4vw;
}

main p.login {
    margin: auto 4vw;
}

/* Form */

main fieldset {
    background-color: white;
    border: 0;
    box-shadow: 0px 0.3rem 0.5rem lightgray;
    padding: 3vh 4vw;
}

main legend {
    float: left;
    margin: 0 0 0 0;
    color: rgb(27, 40, 40);
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
}

main p {
    display: block;
    column-gap: 40px;
}

main span {
    display: inline-flex;
    flex-direction: column;
}

main span.right {
    margin: 0.5vh 4vw 0.5vh 0vw;
}

main label {
    font-size: 0.7rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Raleway, Comfortaa, Arial, Helvetica, sans-serif;
    color: rgb(34, 56, 56);
    letter-spacing: 0.1rem;
    margin: 0 0 0.5vw 0;
}

main input {
    font-size: 1rem;
    padding: 4%;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    min-width: fit-content;
    width: 16vw;
}

main button {
    margin: 2rem 4vw;
    background-color: rgb(67, 14, 117);
    color: #F9FAF8;
    width: fit-content;
    height: fit-content;
    padding: 0.5em 2.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 1.4vw;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

@keyframes input-important {
    0% { box-shadow: 0rem 0rem 0rem lightgray; }
    100% { box-shadow: 0.1rem 0.1rem 0.3rem lightgray; }
}

@keyframes input-selected {
    0% { box-shadow: 0.1rem 0.1rem 0.3rem lightgray; }
    100% { box-shadow: 0.2rem 0.2rem 0.7rem lightgray; }
}

input:hover {
    box-shadow: 0.1rem 0.1rem 0.3rem lightgray;
    animation: input-important 0.1s ease-out 0ms 1 normal forwards;
}

input.error:invalid {
    outline: red solid 2px;
    box-shadow: 0.1rem 0.1rem 0.3rem lightgray;
    animation: input-important 0.5s ease-out 0ms 1 normal forwards;
}

input:focus,
input.error:focus {
    outline: #458cff solid 2px;
    animation: input-selected 0.1s ease-out 0ms 1 normal forwards;
}

/* Side */

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 20vh;
}